[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RLescalation"]
	path = RLescalation
	url = https://github.com/matsuurakentaro/rlescalation
[submodule "RLoptimal"]
	path = RLoptimal
	url = https://github.com/matsuurakentaro/rloptimal
